.jumbotron {
    text-align: center;
    padding: 0.5em 0.6em;
    opacity: .9;
    color: white;
    background-color: rgb(83, 121, 58);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    width: 60%;
}

.btn {
    color: white;
    text-align: center;
    border-radius: 10px;
    background-color: red;
    font-size: 12pt;
}

.answer:hover {
    background: white;
}

body {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
}